body {
    padding: 0;
    margin: 0;

}

main {
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;

}

.learningText {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 16;
    font-style: normal;
}

.published {
    margin-top: 4px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 12px;
    font-style: normal;

}

.title {
    cursor: pointer;
    padding-top: 10px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 20px;
    font-style: normal;
    /* PREVENT SELECT */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.title:hover {
    color: hsl(47, 88%, 63%);
}

.footer {
    padding-left: 10px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 14px;
    font-style: normal;
}

.subtitle {
    margin-top: 4px;
    line-height: 22px;
    color: gray;
    padding-right: 50px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;

}

.img {
    height: 80%;

}

.learning {
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
    width: 82px;
    height: 29px;
}

.middle {
    display: flex;
    padding: 10;
    flex-direction: column;
    gap: 10px;
    /* background-color: brown; */
    width: 90%;
    height: 190px;
}

.low {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 90%;
    height: 40px;
}

.image {
    margin: 20px;
    width: 90%;
    border-radius: 15px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
    width: 384px;
    height: 522px;
    background-color: white;
    box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 1);
}